<%= image_tag @app.icon_url %>

<h2><%= @app.name %></h2>

<p><%= @app.description %></p>

<p>Published: <%= @app.updated_at.to_date.to_s(:long) %><p>
<p>Developer: <%= link_to @app.developer_name, @app.developer_url %><p>

<%= link_to 'Back', apps_path %>
