<h2>Available Apps</h2>

<% @apps.group_by {|a| a.category}.each do |category,apps| %>
  <hr/>
  <h3><%= category.sub(/\d+-/,'') %></h3>

  <% apps.each do |app| %>
  <div class="app">
    <% if app.data_uri? %>
    <%= link_to raw("<img src=\"#{app.icon_path}\" />"), app %>
    <% else %>
    <%= link_to image_tag(app.icon_url), app %>
    <% end %>
    <p><%= app.name %></p>
    <p><%= app.description %></p>
    <% unless app.twitter_account.blank? %>
    <p><%= link_to "@#{app.twitter_account}", "http://twitter.com/#{app.twitter_account}" %></p>
    <% end %>
  </div>
  <% end %>
<% end %>


