<script>
var app_manifest = <%= raw(@app.manifest) %>;
var app_installed = false;

$(document).ready(function () {
  AppClient.getInstalledBy({callback:function(result) {
    if (result && result.installed) {
      for (var i=0;i<result.installed.length;i++) {
        if (result.installed[i].manifest.base_url == app_manifest.base_url) {
          app_installed = true;
          $("#install_button").hide();
          $("#installed").show();
        }
      }
    }
  }});
  $("#install_button").live('click', function() {
    AppClient.install({manifest: app_manifest, callback: function (arg) {
      $("#install_button a").text('Installed!');
      $("#install_button").die('click');
      $("#installed").show();
    }});
  });
});
</script>

<div id="install_button"><a href="#">INSTALL</a></div>
<div id="installed" style="display:none">
  Installed. <%= link_to "Go to your app dashboard.", "https://myapps.mozillalabs.com/" %>
</div>

<% if @app.data_uri? %>
<img src="<%= @app.icon_path %>" />
<% else %>
<%= image_tag @app.icon_url %>
<% end %>



<h2><%= @app.name %></h2>

<p><%= @app.description %></p>

<p>Published: <%= @app.updated_at.to_date.to_s(:long) %><p>
<p>Developer: <%= link_to @app.developer_name, @app.developer_url %><p>

<%= link_to 'Back', apps_path %>
