<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>Open App Store</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "http://code.jquery.com/jquery-1.4.4.min.js" %>
  <%= javascript_include_tag "https://myapps.mozillalabs.com/jsapi/include.js" %>
  <%= javascript_include_tag "http://projects.zoulcreations.com/jquery/growl/jquery.growl.js" %>
  <%= formtastic_stylesheet_link_tag %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="content">
    <div id="top">
      
    </div>
    <div id="header">
      
      <div class="headings">
	<h1>Open App Store</h1>
	<h2>C4 Atlanta</h2>
      </div>
    </div>

    <div id="main">
      <div class="left">
        <%= yield %>
        
      </div>
    </div>

    <div id="footer">
      <div class="info">
	&copy; 2011 <span class="design"><a href="http://c4atlanta.org">C4 Atlanta</a> | Special Thanks to <a href="http://startatlanta.org">Start Atlanta</a></span><br />
	Site Design - <a href="http://www.designcreek.com">DesignCreek</a>  | Courtesy <a href="http://www.openwebdesign.org" target="_blank">Open Web Design</a>
      </div>
    </div>
  </div>
</body>
</html>
